.dashboard-container {
    display: flex;
    justify-content: space-between;
    /* Ensures one div is on the left, the other on the right */
    align-items: center;
    /* Vertically aligns items */
    height: 20vh;
    /* Optional: Full-height container */
    /* Adds some spacing on the sides */
}

.filter-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
}

.left {
    /* padding: 20px; */
}

.right {
    /* padding: 20px; */
    display: flex;
    /* flex-direction: column; */
}

.duration-selection {
    margin-right: 5px;
}

.page-heading-l1 {
    font-size: 2rem;
    font-weight: 700;
}

.page-heading-l2 {
    font-weight: 500;
    /* margin-bottom: 20px; */
}

.export-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64748145;
    /* Professional gray shade */
    color: rgb(30, 27, 27);
    padding: 6px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    /* Prevent text wrapping */
    transition: background-color 0.3s ease;
    /* Smooth hover transition */
    font-weight: 500;
}

/* Hover effect */
.export-icon:hover {
    background-color: #5a626868;
    /* Darker gray for hover */
}

.cards {
    /* border: 1px solid #64748145; */
    /* border-radius: 10px; */
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.card-counter {
    font-size: 2.5rem;
    font-weight: 600;
}

.card:hover {
    transform: scale(1.05);
    /* Slightly enlarge on hover */
}

.all-count {
    background-color: #ffffff;
    /* Light grey */
    border: 1px solid #5c5c5c;
    /* Darker grey border */
    color: #5c5c5c;
    /* Text color matches border */
    border-radius: 10px;
    font-weight: 500;
}

/* Online State */
.online {
    background-color: #f0fbf3;
    /* Light green */
    border: 1px solid #437b5b;
    /* Darker green border */
    color: #437b5b;
    /* Text color matches border */
    border-radius: 10px;
    font-weight: 500;
}

/* Offline State */
.offline {
    background-color: #fff2f2;
    /* Light red */
    border: 1px solid #c83d3b;
    /* Dark red border */
    border-radius: 10px;
    color: #c83d3b;
    /* Text color matches border */
}

/* Error State */
.error {
    background-color: #fefce5;
    /* Light yellow */
    border: 1px solid #b6ae81;
    /* Medium yellow border */
    border-radius: 10px;
    color: #b6ae81;
    /* Text color matches border */
}

.toggle {
    border: 1px solid #cbcbcb59;
    /* background-color: rgb(237, 237, 237); */
    /* border: 1px solid #ffffff; */
    background-color: #ffffff;
    border-radius: 5px;
}

.view-toggle {
    padding: 5px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
}

.view-toggle:hover {
    background-color: #ffffff;
    border-radius: 5px;
}

.view-toggle i {
    font-size: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #ffffff;
    margin-right: 5px;
}

.search-box .icon {
    margin-right: 5px;
    background-color: #ffffff;
    color: #aaa;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;
}

.select-box-with-icon {
    display: flex;
    align-items: center;
}

.select-box-with-icon .icon {
    margin-right: 8px;
}

.select-box-with-icon select {
    flex: 1;
}

.Online-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #EBFDEC;
    color: #628D76;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.Offline-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #FFF0F4;
    color: #9C545E;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.Error-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #FFFAE9;
    color: #B49772;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.High-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #FFFFE1;
    color: #A09364;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.Medium-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #FFFAE9;
    color: #a56e27;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.Low-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #E9F5FF;
    color: #526294;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.None-label {
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    text-align: center;
    background: #FBFFFF;
    color: #595B5D;
    font-weight: 500;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.refreshURL {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    text-align: center;
    background: #FFFFFF;
    color: #595B5D;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}